/* general stuff */

:root {
  --grid-color: #cecece;
  --time-color: #777;
  --slot-hover-color: rgba(0, 0, 0, 0.16);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --font-color: #222;
  --color-red: rgb(190, 35, 15);
  --color-violett: #6d005e;
  --color-darkblue: #1e2b37;
  --color-blue: rgb(54, 92, 175);
  --color-green: rgb(21, 129, 21);
  --color-orange: rgb(233, 153, 4);
  --slotHeight: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-color);
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  background-color:var(--color-violett);
}
body::-webkit-scrollbar {
  display: none;
}

.navbtn{
  position: absolute;
  top: 0;
  left: 20px;
  font-size:60px;
  cursor:pointer;
  color: rgb(255, 255, 255);
  text-shadow: #1e2b37 1px 1px 5px;
  -webkit-app-region: no-drag;
}
.navbtn:hover{
  font-weight: bolder;
}
.navbtn:active{
  transform: scale(0.95);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-image: linear-gradient(30deg, var(--color-violett) 20%, #5d0051 80%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10%;
  -webkit-app-region: no-drag;
}

.sidenav span{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 10px;
}
.menu{
  padding-top: 10px;
  padding-bottom: 12px;
  margin-left: 17px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  white-space: nowrap;
}
  .menu:hover{
      color: gold;
  }

.sidenav span:hover {
  color: gold;
  transform: scale(0.95);
}

.sidenav .closebtn {
  position: absolute;
  top: 300px;
  right: 0;
  font-size: 36px;
  color: white;
  -webkit-app-region: no-drag;
}
.sidenav .closebtn:hover {
  transform: scale(0.95);
}
.sidenav .closebtn:active {
  color:gold;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 127px;
  z-index: 10;
  border-radius: 5%;
}

.dropdown-content span {
  color: white;
  font-size: 20px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 2px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  background-color: rgba(223, 222, 222, 0.312);
  border-radius: 4px;
}


input::-webkit-input-placeholder {
  color: rgb(113, 113, 113); /*Change the placeholder color*/
  opacity: 0.2; /*Change the opacity between 0 and 1*/
  font-style: italic;
  font-size: medium;
}
#semester{
  font-size: 15px;
}

#close-btn{
  position: absolute; bottom: 10px; left: 25px;
}

#downloadButton{
  -webkit-app-region: no-drag;
}
#addButton{
  -webkit-app-region: no-drag;
}

#trashButton{
  -webkit-app-region: no-drag;
}

.legHin{
  display: flex; justify-content: space-around; text-align: left;
}

.legInput{
  display: flex;
}

#hinweisInput{
  width: 550px; height: 50px; border-radius: 5px;text-align: left;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus {
  outline: none !important;
}

.button:focus {
  outline: none !important;
}

.foot{
  position: absolute;
  margin-top: 100%;
  bottom: -390px;
  width: 100%;
  height: 150px;
  background-color: var(--color-violett);
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: #1e2b37 1px 1px 5px;
  z-index: 0;
}

.legende{
  width: 260px;
  border-radius: 5px;
  margin-left: 8px;
  margin-top: 4px;
}
.removeLegende {
  background-color: transparent;
  color: white;
  padding-right: 5px;
  border-style: none;
}

.removeLegende:hover {
  color: red;
  cursor: pointer;
  font-size: 15px;
}

.addLegende {
  margin-left: 10px ;
  background-color: transparent;
  color: white;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
}
.addLegende:hover {
  color: var(--color-red);
}

.title{
  position: fixed;
  height: 100px;
  background-color: var(--color-violett);
  width: 100%;
  z-index: 5;
  -webkit-app-region: drag;
}
/* header */

.header {
  text-align: center;
  padding: 20px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  z-index: 5;
}

.header h1 {
  position: relative;
  margin-bottom: 50px;
  font-weight: bold;
  color: white;
  
}

.header i {
  cursor: pointer;
  margin: 0px 5px;
  color: white;
  transition: all 80ms linear;
  border-color: white;
}

.header i:hover {
  border-color: gray;
  font-size: 20px;
  border-radius: 8px;
}
.header i:active {
  color: gold;
  border-color: gold;
  font-size: large;
  border-radius: 8px;
  transform: scale(0.95);
}

/* controls */

.weekControls {
  color: white;
  margin-top: 40px;
  position: absolute;
  text-align: center;
  font-size: 22px;
  -webkit-app-region: no-drag;
}

.generalControls {
  position: absolute;
  right: 20px;
}

.generalControls i {
  line-height: 25px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid #777;
  border-radius: 50%;
}

.generalControls .fa-plus {
  font-size: 20px;
}

.generalControls .fa-trash-alt {
  font-size: 18px;
}

/* calendar */

#calendar {
  z-index: 0;
  position: absolute;
  top: 100px;
  display: flex;
  width: 100%;
  transition: opacity 200ms ease-in;
  border-bottom: 1px solid var(--grid-color);
  background-color: rgb(242, 242, 242);
}

#calendar.opaque {
  opacity: 0.4;
}



/* columns */

.dayTime {
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  color: var(--time-color);
}

.day {
  width: 20%;
  min-width: 110px;
  border-left: 1px solid var(--grid-color);
}

.columnHeader {
  text-align: center;
  font-size: 20px;
  padding: 10px 0px;
  height: 60px;
  overflow: hidden;
  background-color: white;
  color: var(--color-violett);
}

.day .columnHeader {
  border-top: 1px solid var(--grid-color);
}

.day.currentDay .columnHeader {
  color: var(--color-red);
}

.dayDisplay {
  font-size: 15px;
  color: var(--time-color);
}

/* slots */

.slots {
  position: relative;
}
.slot{
      height: var(--slotHeight);
      border-top: 1px solid var(--grid-color);
}

.time {
  border-top: 1px solid var(--grid-color);
  height: var(--slotHeight);
  font-size: 14px;
  background-color: white;
}


.slot:hover {
  cursor: pointer;
  background-color: var(--slot-hover-color);
}

.time.currentTime {
  background-color: var(--slot-hover-color);
  color: var(--font-color);
}

/* events */

.event {
  position: absolute;
  left: 1px;
  width: calc(100% - 2px);
  border-radius: 4px;
  padding: 2px 5px;
  color: black;
  overflow: hidden;
  cursor: pointer;
}
.two {
  position: absolute;
  left: 50%;
  width: calc(100% - 50%);
  border-radius: 4px;
  padding: 2px 5px;
  color: black;
  overflow: hidden;
  cursor: pointer;
  
}

.shortEvent {
  padding: 0px 5px;
  font-size: 12px;
}

.veryShortEvent {
  margin-top: -1px;
  padding: 0px 5px;
  font-size: 10px;
}

/* event modal */

#eventModal {
  display: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--shadow-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
  padding: 20px;
  width: 422px;
  min-width: 250px;
}

#errors {
  color: var(--color-red);
}

#modalTitle {
  margin-bottom: 20px;
}

#eventModal label {
  font-weight: bold;
  display: inline-block;
  margin: 20px 10px 5px 0px;
}

.shortInput {
  border-bottom: 1px solid var(--grid-white);
  padding: 2px 1px;
}

.shortInput:focus {
  border-bottom: 1px solid var(--font-color);
}

#eventTitle {
  width: 95% !important;
}

#eventStart {
  margin-right: 10px;
}

#eventEnd {
  margin-left: 10px;
}

#eventDescription {
  border: 1px solid var(--grid-color);
  width: 95% !important;
  height: 50px;
  min-height: 40px;
  resize: vertical;
  padding: 4px;
}

#eventDescription:focus {
  border: 1px solid var(--font-color);
}

#eventControls {
  margin: 25px 0px 10px 0px;
}

.eventcolor{
  color: white;
}

.button {
  padding: 10px 20px;
  background-color: var(--color-darkblue);
  color: white;
  cursor: pointer;
  margin-right: 12px;
  border-radius: 2px;
}

.import{
  margin-left: 10px;
}
.js{
  display:none;
}

#deleteButton {
  background-color: var(--color-red);
}
#deleteButton:hover {
  opacity: 0.8;
}

#file-input {
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--color-violett);
}

/* colors in event modal */

#colors {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.color {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  border: 5px solid white;
  box-sizing: content-box;
  cursor: pointer;
}

.color.active,
.color:focus,
.color:hover {
  border: 5px solid var(--grid-color);
}

.color-red {
  background-color: var(--color-red);
}

.color-blue {
  background-color: var(--color-blue);
}

.color-green {
  background-color: var(--color-green);
}

.color-orange {
  background-color: var(--color-orange);
}


@media (max-width: 800px) {
  #weekDisplay {
      display: none;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10%;}
  .sidenav a {font-size: 18px;}
}

